<p-toast></p-toast>
<div class="col-md-12">
  <div class="card card-container">
    <img
    id="profile-img"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username" translate>Username</label>
        <input
          id="username"
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
          {{ 'Username is required!' | translate }}
        </div>
      </div>
      <div class="form-group">
        <label for="password" translate>Password</label>
        <input
          id="password"
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors['required']">{{'Password is required' | translate}}</div>
          <div *ngIf="password.errors['minlength']">
            {{ 'Password must be at least 6 characters' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block bg-dark">
          {{ 'Login' | translate }}
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          {{ 'Login failed:' | translate :{ errorMessage : errorMessage }  }}
        </div>
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      {{ 'Logged in as ' | translate : { roles: roles } }}.
    </div>
      <button class="p-button-text p-button-raised p-button-secondary"
      (click)="showPasswordMessage()">
        {{ 'Forgot your password?' | translate }}
      </button>
  </div>
</div>


<p-dialog [(visible)]="passwordDialog" [style]="{width: '300px'}" header="{{ 'Reset password' | translate }}"
  [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label>{{ 'PasswordMessage' | translate}}</label>
    </div>
    <label for="email" translate>Email</label>
    <input
      id="email"
      type="text"
      class="form-control"
      name="email"
      [(ngModel)]="email"
      required
    />
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-text"
            (click)="closePasswordDialog()"></button>
    <button pButton pRipple label="{{ 'Yes' | translate }}" icon="pi pi-check" class="p-button-text"
            (click)="onResetPassword()"></button>
  </ng-template>
</p-dialog>
