<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<div>
  <form name="addEventForm"
        #f="ngForm"
        class="row g-3"
        novalidate>
    <h3>Add new event</h3>
    <div class="col-4">
    <div class="control-group">
      <label class="control-label" for="hostUser">Host username</label>
      <input id="hostUser" type="text" pInputText name="hostUser" [(ngModel)]="addEventForm.hostUser"
             class="form-control" required (change)="isDirty=true">
    </div>
    </div>
    <div class="col-md-4">
      <label class="control-label" id="stLabel">Start Time</label>
      <br>
      <p-calendar [(ngModel)]="addEventForm.startTime" [showIcon]="true"
                  [monthNavigator]="true"
                  [showTime]="true" id="startTime"
                  name="startTime"
                  ariaLabelledBy="stLabel"
                  pInputText
                  (change)="isDirty=true"
                  inputStyleClass="form-control"
      ></p-calendar>
    </div>
    <div class="col-md-4">
      <label class="control-label" id="etLabel">End time</label>
      <br>
      <p-calendar id="endTime" pInputText [(ngModel)]="addEventForm.endTime" name="endTime"
                  [monthNavigator]="true"
                  inputStyleClass="form-control"
                  ariaLabelledBy="etLabel"
                  (change)="isDirty=true"
                  [showTime]="true" [showIcon]="true">
      </p-calendar>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="maxAttendeeNr">maxAttendeeNr</label>
      <input id="maxAttendeeNr" type="number" min="0"
             (change)="isDirty=true"
             pInputText name="maxAttendeeNr" class="form-control"
             [(ngModel)]="addEventForm.maxAttendeeNr" required>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="link">Meet link</label>
      <input id="link" type="text" pInputText name="link"
             class="form-control"
             required (change)="isDirty=true"
             [(ngModel)]="addEventForm.link">
    </div>
    <div class="col-md-12">
      <h3>Location</h3>
    </div>
    <div class="col-md-12">
    <div class="control-group">
      <label class="control-label" for="cityName">City</label>
      <input id="cityName" type="text" pInputText name="cityName" required class="form-control"
             (change)="isDirty=true"
             [(ngModel)]="addEventForm.location.cityName">
    </div>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="streetName">Street name</label>
      <input id="streetName" type="text" pInputText name="streetName" required class="form-control"
             (change)="isDirty=true"
             [(ngModel)]="addEventForm.location.streetName">
    </div>
    <div class="col-md-2">
      <label class="control-label" for="streetNumber">Street number</label>
      <input id="streetNumber" type="text" pInputText name="streetNumber" class="form-control"
             (change)="isDirty=true"
             [(ngModel)]="addEventForm.location.streetNumber" required>
    </div>

    <div class="col-md-2">
      <label class="control-label" for="latCoord">Lat coord</label>
      <input id="latCoord" name="latCoord" step="0.01" class="form-control" type="number"
             (change)="isDirty=true"
             [(ngModel)]="addEventForm.location.latCoord">
    </div>
    <div class="col-md-2">
      <label class="control-label" for="lngCoord">Lng coord</label>
      <input id="lngCoord" name="lngCoord" step="0.01" class="form-control" type="number"
             (change)="isDirty=true"
             [(ngModel)]="addEventForm.location.lngCoord">
    </div>

    <br>
    <br>
    <br>
    <br>
    <!-- FOOTER-->
      <div class="col-md-6">
        <button class="form-control p-button-warning" pButton type="button" label="Back"
                style="width: fit-content"
                icon="pi pi-arrow-left" (click)="backToList()"></button>
      </div>
      <div class="col-md-6">
        <button class="form-control p-button-success" pButton [disabled]="f.form.invalid" type="submit"
                label="Save" icon="pi pi-check"
                style="width: fit-content"
                (click)="addEventButton()"></button>
      </div>
  </form>
</div>
