<p-toast position="top-right"></p-toast>
<p-table [columns]="cols" [value]="registrations">
  <ng-template pTemplate="caption">
    Registrations List
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>

  <<ng-template pTemplate="body"  let-regi>
  <tr>
    <td> {{ regi.name }} </td>
    <td> {{ regi.mobileNumber }} </td>
    <td> {{ regi.email }} </td>
    <td> {{ regi.date | date: 'yyyy.MM.dd HH:mm' }} </td>
    <td> {{ regi.schoolName }} </td>
  </tr>
</ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">No registrations found.</td>
    </tr>
  </ng-template>

</p-table>

<br>
<br>
<!-- FOOTER-->
<div class="col-md-6">
  <button class="form-control p-button-warning" pButton type="button" label="Back"
          style="width: fit-content"
          icon="pi pi-arrow-left" (click)="backToList()"></button>
</div>
<div class="col-md-6">
</div>
