<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">NyiltnApp</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home" translate>Home</a>
      </li>
      <li>
        <a href="/event-list" class="nav-link" routerLink="event-list" translate>Events</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <p-menu #menu [popup]="true" [model]="languageItems"></p-menu>
        <button type="button" pButton icon="pi pi-globe" class="p-button-text p-button-secondary"
                (click)="menu.toggle($event)">
        </button>
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register" translate>Register</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login" translate>Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <p-menu #menu [popup]="true" [model]="languageItems"></p-menu>
        <button type="button" pButton icon="pi pi-globe" class="p-button-text p-button-secondary"
                (click)="menu.toggle($event)">
        </button>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()" translate>LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
