<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <div *ngIf="!isTokenValid" class="alert alert-danger"
         role="alert">
      <p>{{ 'InvalidToken' | translate}}</p>
    </div>
    <form
      *ngIf="isTokenValid"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="password1" translate>New Password</label>
        <input
          id="password1"
          type="password"
          class="form-control"
          name="password1"
          [(ngModel)]="form.password1"
          required minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors['required']">{{'Password is required' | translate}}</div>
          <div *ngIf="password.errors['minlength']">
            {{ 'Password must be at least 6 characters' | translate }}
          </div>
          <div *ngIf="form.password1 !== form.password2">{{ 'Passwords do not match' | translate }} </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password2" translate>Confirm Password</label>
        <input
          id="password2"
          type="password"
          class="form-control"
          name="password2"
          [(ngModel)]="form.password2"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors['required']">{{'Password is required' | translate}}</div>
          <div *ngIf="password.errors['minlength']">
            {{ 'Password must be at least 6 characters' | translate }}
          </div>
          <div *ngIf="form.password1 !== form.password2">{{ 'Passwords do not match' | translate }} </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block bg-dark">
          {{ 'Submit' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
